/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-size: 15px;
  }
  
  body {
      padding: 0;
      margin: 0;
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
      text-align: center;
  }
  
  #Plan {
      margin: 5% 5% 10% 10%;
      padding: 10px 40px 10px 40px;
      display: inline-block;
      border-radius: 20px;
      color: white;
      margin-bottom:0px;
      text-decoration: none;
      background: #FF764E;
      margin-bottom: 20px;
  }
  
  #Learn {
    display: inline-block;
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration:none;
    border-radius: 20px;
    background: #5ED3EB;
    margin-bottom: 20px;
  }
  
  #Get {
    display: inline-block;
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration:none;
    border-radius: 20px;
    background: #FFCD69;
    margin-bottom: 20px;
  }

 /* mouse over link */
    #Plan:hover {
    color: black;
  }
  
  #Learn:hover {
      color:black
  } 

  #Get:hover {
      color: black;
  }
  
.intro {
    display: inline-block;
    margin: 5% 10% 0% 10%;
}


  .intro img {
      max-height: 25%;
      max-width: 25%;
      border-radius: 50%;
      float: left;

  }
  
  h1 {
    font-size: 65px;
    font-family: 'Chelsea Market', cursive;
    animation-duration: 3s;
    animation-name: slidein;  
  }
  
h2 {
    animation-duration: 6s;
    animation-name: slidein;
}
    
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}
  p{
    font-size: 15px;
  }
  
  .middle {
    color: white;
    background: #DDB9A3;
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
  }

.middle:hover {
    background-color:#5ED3EB; 
}
  .middleicon img {
    height:100px;
    width: 100px;
    
  }
  
 .middleicon:hover {
     background-color: #FF764E;
 }
  
  .finalicon img {
    height: 100px;
    width: 100px;
  }

 .finalicon:hover {
     background-color: #FFCD69;
 } 
  
  #footerplan {
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    margin-bottom:0px;
    text-decoration: none;
    background: #FF764E;
    margin-bottom: 20px;
  }
  
  #footerlearn {
    display: inline-block;
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration:none;
    border-radius: 20px;
    background: #5ED3EB;
    margin-bottom: 20px;
   }
  
  #footerget {
    display: inline-block;
    margin: 5% 5% 10% 10%;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration:none;
    border-radius: 20px;
    background: #FFCD69;
    margin-bottom: 20px;
  }
  
  footer img {  
    height: 300px;
    width: 100%;
  }

  footer div {
    background: #F9E7DC
  }